

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

.cm-s-variable {


  --color-base03:               var(--cm-base03, #002b36);
  --color-base02:               var(--cm-base02, #073642);
  --color-base01:               var(--cm-base01, #586e75);
  --color-base00:               var(--cm-base00, #657b83);
  --color-base0:                var(--cm-base0, #839496);
  --color-base1:                var(--cm-base1, #93a1a1);
  --color-base2:                var(--cm-base2, #eee8d5);
  --color-base3:                var(--cm-base3, #fdf6e3);
  --color-solar-yellow:         var(--cm-solar-yellow, #b58900);
  --color-solar-orange:         var(--cm-solar-orange, #cb4b16);
  --color-solar-red:            var(--cm-solar-red, #dc322f);
  --color-solar-magenta:        var(--cm-solar-magenta, #d33682);
  --color-solar-violet:         var(--cm-solar-violet, #6c71c4);
  --color-solar-blue:           var(--cm-solar-blue, #268bd2);
  --color-solar-cyan:           var(--cm-solar-cyan, #2aa198);
  --color-solar-green:          var(--cm-solar-green, #859900);

  --font-family:                var(--cm-font-family, 'Merriweather', serif);
  --color-body:                 var(--cm-color-body, #555);
  --weight-body:                var(--cm-weight-body, 500);

  --color-header:               var(--cm-color-header, var(--color-base01));
  --color-header-highlight:     var(--cm-color-header-highlight, var(--color-base00));
  --color-quote:                var(--cm-color-quote, var(--color-base1));
  --color-quote-highlight:      var(--cm-color-quote-highlight, var(--color-base2));
  --color-link:                 var(--cm-color-link, var(--color-base1));
  --color-link-highlight:       var(--cm-color-link-highlight, var(--color-base2));
  --color-em:                   var(--cm-color-em, var(--color-base1));
  --color-em-highlight:         var(--cm-color-em-highlight, var(--color-base2));
  --color-variable-2:           var(--cm-color-variable-2, var(--color-solar-yellow));
  --color-variable-2-highlight: var(--cm-color-variable-2-highlight, var(--color-solar-green));
  --color-hr:                   var(--cm-color-hr, var(--color-base01));
  /* --color-selected:             var(--cm-color-selected, pink); */
  


  line-height: 2rem;
  color-profile: sRGB;
  rendering-intent: auto;
  
  
  font-family: var(--font-family);
  font-weight: var(--weight-body);
  color: var(--color-body)


}

.cm-s-variable .CodeMirror-selected { background: var(--color-selected); }
.cm-s-variable .cm-header { color: var(--color-header); }
.cm-s-variable .cm-header.cm-formatting { color: var(--color-header-highlight); }
.cm-s-variable .cm-quote { color: var(--color-quote); }
.cm-s-variable .cm-quote.cm-formatting { color: var(--color-quote-highlight); }
.cm-s-variable .cm-link { color: var(--color-link); cursor: pointer; }
.cm-s-variable .cm-link.cm-formatting { color: var(--color-link-highlight); cursor: pointer; }
.cm-s-variable .cm-em { color: var(--color-em); }
.cm-s-variable .cm-em.cm-formatting { color: var(--color-em-highlight); }
.cm-s-variable .cm-variable-2 { color: var(--color-variable-2); }
.cm-s-variable .cm-variable-2.cm-formatting { color: var(--color-variable-2-highlight); }
.cm-s-variable .cm-hr {
  color: transparent;
  border-top: 1px solid var(--color-hr);
  display: block;
}


/*
largely copy pasted from 
Solarized theme for code-mirror
http://ethanschoonover.com/solarized

Styles relevant to markdown appear above
*/

.cm-s-variable .CodeMirror-widget {
  text-shadow: none;
}


.cm-s-variable .cm-keyword { color: var(--color-solar-orange); }
.cm-s-variable .cm-atom { color: var(--color-solar-magenta); }
.cm-s-variable .cm-number { color: var(--color-solar-magenta); }
.cm-s-variable .cm-def { color: var(--color-solar-cyan); }

.cm-s-variable .cm-variable { color: var(--color-base0); }
.cm-s-variable .cm-variable-3, .cm-s-variable .cm-type { color: var(--color-solar-violet); }

.cm-s-variable .cm-property { color: var(--color-solar-cyan); }
.cm-s-variable .cm-operator { color: var(--color-solar-violet); }

.cm-s-variable .cm-comment { color: var(--color-base01); font-style:italic; }

.cm-s-variable .cm-string { color: var(--color-solar-green); }
.cm-s-variable .cm-string-2 { color: var(--color-solar-yellow); }

.cm-s-variable .cm-meta { color: var(--color-solar-green); }
.cm-s-variable .cm-qualifier { color: var(--color-solar-yellow); }
.cm-s-variable .cm-builtin { color: var(--color-solar-magenta); }
.cm-s-variable .cm-bracket { color: var(--color-solar-orange); }
.cm-s-variable .CodeMirror-matchingbracket { color: var(--color-solar-green); }
.cm-s-variable .CodeMirror-nonmatchingbracket { color: var(--color-solar-red); }
.cm-s-variable .cm-tag { color: var(--color-base1); }
.cm-s-variable .cm-attribute { color: var(--color-solar-cyan); }

.cm-s-variable .cm-special { color: var(--color-solar-violet); }

.cm-s-variable .cm-error,
.cm-s-variable .cm-invalidchar {
  color: var(--color-base01);
  border-bottom: 1px dotted var(--color-solar-red);
}

/* Editor styling */



/* Remove gutter border */
.cm-s-variable .CodeMirror-gutters {
  border-right: 0;
}

/* Common */
.cm-s-variable .CodeMirror-linenumber {
  padding: 0 5px;
}
.cm-s-variable .CodeMirror-guttermarker-subtle { color: var(--color-base01); }

.cm-s-variable .CodeMirror-gutter .CodeMirror-gutter-text {
  color: var(--color-base01);
}

/* Cursor */
.cm-s-variable .CodeMirror-cursor { border-left: 1px solid #819090; }

